//
//@keyframes ldio-sk6n7otb2kj {
//  0% { transform: translate(13px,47px) scale(0); }
//  25% { transform: translate(13px,47px) scale(0); }
//  50% { transform: translate(13px,47px) scale(1); }
//  75% { transform: translate(47px,47px) scale(1); }
//  100% { transform: translate(81px,47px) scale(1); }
//}
//@keyframes ldio-sk6n7otb2kj-r {
//  0% { transform: translate(81px,47px) scale(1); }
//  100% { transform: translate(81px,47px) scale(0); }
//}
//@keyframes ldio-sk6n7otb2kj-c {
//  0% { background: #0a0a0a }
//  25% { background: #28292f }
//  50% { background: #0a0a0a }
//  75% { background: #28292f }
//  100% { background: #0a0a0a }
//}
//.ldio-sk6n7otb2kj div {
//  position: absolute;
//  width: 6px;
//  height: 6px;
//  border-radius: 50%;
//  transform: translate(47px,47px) scale(1);
//  background: #0a0a0a;
//  animation: ldio-sk6n7otb2kj 1s infinite cubic-bezier(0,0.5,0.5,1);
//}
//.ldio-sk6n7otb2kj div:nth-child(1) {
//  background: #28292f;
//  transform: translate(81px,47px) scale(1);
//  animation: ldio-sk6n7otb2kj-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-sk6n7otb2kj-c 1s infinite step-start;
//}.ldio-sk6n7otb2kj div:nth-child(2) {
//   animation-delay: -0.25s;
//   background: #0a0a0a;
// }.ldio-sk6n7otb2kj div:nth-child(3) {
//    animation-delay: -0.5s;
//    background: #28292f;
//  }.ldio-sk6n7otb2kj div:nth-child(4) {
//     animation-delay: -0.75s;
//     background: #0a0a0a;
//   }.ldio-sk6n7otb2kj div:nth-child(5) {
//      animation-delay: -1s;
//      background: #28292f;
//    }
//.loadingio-spinner-ellipsis-p5wli5zk0io {
//  width: 46px;
//  height: 46px;
//  display: inline-block;
//  overflow: hidden;
//  background: none;
//}
//.ldio-sk6n7otb2kj {
//  width: 100%;
//  height: 100%;
//  position: relative;
//  transform: translateZ(0) scale(0.46);
//  backface-visibility: hidden;
//  transform-origin: 0 0; /* see note above */
//}
//.ldio-sk6n7otb2kj div { box-sizing: content-box; }
//
//
//

@keyframes ldio-t2321xvefyd {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-t2321xvefyd div {
  position: absolute;
  animation: ldio-t2321xvefyd 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #fe5335;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-0jqv5zyxeteb {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  //background: none;
  background: transparent;
}
.ldio-t2321xvefyd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-t2321xvefyd div { box-sizing: content-box; }
