.products-page {
	padding: 0 30px;

	@media (max-width:$md3 + px) {
		padding: 0 20px;
	}

	@media (max-width:$md4 + px) {
		padding: 0 10px;
	}

	// .products-page__content

	&__content {
		margin: 0 0 55px 0;
	}

	// .products-page__info

	&__info {
		padding: 0 0 60px 0;
		border-bottom: 1px solid #e0e0e0;

		@media (max-width:$md3 + px) {
			padding: 0 0 20px 0;
		}
	}

	// .products-page__container

	&__container {}

	// .products-page__details

	&__details {}

	// .products-page__slider

	&__slider {}

	// .products-page__toggle

	&__toggle {
		&-enter {
			opacity: 0;
			//transform: scale(0.9);
			transform: translateY(-10%);
		}
		&-enter-active {
			opacity: 1;
			//transform: translateX(0);
			transform: translateY(0%);
			transition: opacity 800ms, transform 800ms;
		}
		&-exit {
			opacity: 1;
		}
		&-exit-active {
			opacity: 0;
			//transform: scale(0.9);
			transform: translateY(-10%);
			transition: opacity 800ms, transform 800ms;
		}
	}
}


//====================================================================================================

.content-products {
	display: flex;

	@media (max-width:$md2 + px) {
		flex-wrap: wrap;
	}

	// .content-products__gallery

	&__gallery {
		flex: 1 1 auto;
		padding: 0 35px 0 0;

		@media (max-width:$md2 + px) {
			flex: 1 1 100%;
			padding: 0 0 0 0;
		}
	}

	// .content-products__aside

	&__aside {
		flex: 0 0 28.39%;

		@media (max-width:$md2 + px) {
			flex: 1 1 100%;
		}
	}

	.gallery-product {
		& .lg-react-element{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			@media (max-width:$md4 + px) {
				margin: 0 -5px;
			}
		}

			// .gallery-product__item

		&__item {
			flex: 0 1 50%;
			padding: 0 10px;
			margin: 0 0 20px 0;
			max-width: 592px;
			max-height: 711px;
			position: relative;
			transition: all 0.3s ease 0s;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media (min-width:$md2 + px) {
				&::before {
					content: '';
					transition: all 0.3s ease 0s;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: calc(100% - 20px);
					height: 100%;
					z-index: 1;
					background-color: transparent;
				}
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					@include tr(-50%, -50%);
					width: 52px;
					height: 52px;
					background-color: transparent;
					z-index: 1;
				}
				&:hover {
					transition: all 0.3s ease 0s;
					cursor: pointer;
					&::before {
						background-color: rgba(33, 33, 33, 0.4);
					}

					&::after {
						background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52"><path fill="#e0e0e0" d="M1.84 27.85A1.85 1.85 0 010 25.99c0-1.03.81-1.84 1.84-1.84h22.3V1.86A1.87 1.87 0 0126 0c1.03 0 1.84.84 1.84 1.86v22.29h22.3a1.85 1.85 0 110 3.7h-22.3v22.29c0 1.02-.81 1.86-1.84 1.86a1.87 1.87 0 01-1.86-1.86V27.85z"/></svg>');
					}
				}
			}
		}

		&__image {
			//display: block;
			//padding: 0 0 120% 0;
			transition: all 0.3s ease 0s;
			img,picture{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

//====================================================================================================

.aside-product {

	// .aside-product__code

	&__code {
		color: #8c8c8c;
		font-size: 13px;
		font-weight: 300;
		cursor: default;
		margin: 0 0 25px 0;

		span {
			color: #757575;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	// .aside-product__name

	&__name {
		max-width: 400px;
		color: var(--color-main);
		font-family: var(--fontSecond);
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		margin: 0 0 25px 0;
		cursor: default;

		@media (max-width:$md2 + px) {
			max-width: none;
		}
	}

	// .aside-product__price-block

	&__price-block {
		display: flex;
		align-items: center;
		margin: 0 0 15px 0;
	}

	// .aside-product__old-price

	&__old-price {
		color: #424242;
		font-size: 20px;
		font-weight: 600;
		text-decoration: line-through;
		margin: 0 10px 0 0;
		cursor: default;
	}
	// .aside-product__price-sale
	&__price{
		color: #424242;
		font-size: 20px;
		font-weight: 600;
		margin: 0 10px 0 0;
		cursor: default;
	}

	// .aside-product__price-sale

	&__price-sale {
		color: var(--color-third);
		font-size: 20px;
		font-weight: 600;
		cursor: default;
	}

	// .aside-product__tax

	&__tax {
		color: #808080;
		font-size: 14px;
		font-weight: 700;
		cursor: default;
		margin: 0 0 30px 0;
	}

	// .aside-product__text

	&__text {
		color: #757575;
		font-size: 16px;
		line-height: 30px;
		cursor: default;
		margin: 0 0 15px 0;
	}

	// .aside-product__info-block

	&__info-block {
		display: flex;
		align-items: center;
		margin: 0 0 40px 0;
	}

	// .aside-product__details

	&__details {
		color: #757575;
		font-size: 14px;
		font-weight: 700;
		text-decoration: underline;
		margin: 0 20px 0 0;
		background-color: transparent;
	}

	// .aside-product__size-guide

	&__size-guide {
		@extend .aside-product__details;
		margin: 0 0 0 0;
	}

	// .aside-product__color-block

	&__color-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 40px 0;

		@media (max-width:$md3 + px) {
			margin: 0 0 50px 0;
		}

		@media (max-width:$md4 + px) {
			margin: 0 0 40px 0;
		}
	}

	// .aside-product__color-choice

	&__color-choice {
		display: flex;
		align-items: center;
	}

	// .aside-product__color

	&__color {
		margin: 0 14px 0 0;
	}

	// .aside-product__radio

	&__radio {
		position: relative;
	}

	// .aside-product__input

	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&+.aside-product__image {
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	// .aside-product__image

	&__image {
		display: inline-flex;
		align-items: center;

		&._active {
			outline: 1px solid #000;
			outline-offset: 1px;
		}

		// .aside-product__image_black
		&_black {
			background: url(../../img/icons/color-1.jpg) 0 0 no-repeat;
		}

		// .aside-product__image_red
		&_red {
			background: url(../../img/icons/color-2.jpg) 0 0 no-repeat;
		}

		// .aside-product__image_white
		&_white {
			background: url(../../img/icons/color-3.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_blue
		&_blue {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_green
		&_green {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_grey
		&_grey {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_brown
		&_brown {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_other
		&_other {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
		// .aside-product__image_yellow
		&_yellow {
			background: url(../../img/icons/color-4.jpg) 0 0 no-repeat;
		}
	}


	// .aside-product__color-name

	&__color-name {
		color: #757575;
		font-size: 14px;
		cursor: default;
		text-transform: capitalize;
	}

	// .aside-product__select-size

	&__select-size {
		margin: 0 0 20px 0;
	}

	// .aside-product__select

	&__select {
		.select {
			width: 100%;
		}

		.select__title {
			border: 1px solid #e0e0e0;
			color: #6c6c6c;
			font-size: 16px;
			padding: 10px 0;
		}

		.select__options {
			top: 51px;
			font-size: 14px;

		}

		.select__option {
			@media (min-width:$md2 + px) {
				&:hover {
					font-weight: 400;

				}
			}
		}
	}

	// .aside-product__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 46px;
		margin: 0 0 45px 0;

	}

	// .aside-product__btn

	&__btn {
		background-color: #000000;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		width: 100%;
		height: 100%;
		pointer-events: auto;
		&:disabled{
			opacity: .6;
			pointer-events: none;
		}
	}

	// .aside-product__share

	&__share {
		display: block;
		color: #808080;
		font-size: 14px;
		font-weight: 700;
		text-align: right;

		span {
			position: relative;
			padding: 0 30px 0 0;

			&::after {
				content: '';
				position: absolute;
				top: 3px;
				right: 0;
				width: 15px;
				height: 15px;
				background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#757575" d="M12.24 9.53c-.88 0-1.65.42-2.15 1.05L5.4 8.21c.06-.23.1-.46.1-.71 0-.27-.05-.52-.12-.77l4.66-2.36a2.75 2.75 0 002.19 1.1 2.74 2.74 0 002.75-2.74C15 1.23 13.76 0 12.24 0a2.74 2.74 0 00-2.76 2.73c0 .25.05.48.11.71L4.91 5.82a2.75 2.75 0 00-2.15-1.05A2.74 2.74 0 000 7.5a2.74 2.74 0 002.75 2.73c.9 0 1.7-.43 2.2-1.1L9.6 11.5c-.07.24-.13.5-.13.77A2.74 2.74 0 0012.24 15a2.74 2.74 0 002.75-2.73 2.74 2.74 0 00-2.75-2.74z"/></svg>');
			}
		}
	}
}

//====================================================================================================

.details-product {
	display: flex;
	margin: 0 -41px;

	@media (max-width:$md2 + px) {
		margin: 0 -20px;
	}

	@media (max-width:$md2 + px) {
		flex-wrap: wrap;
	}

	// .details-product__column

	&__column {
		flex: 0 1 50%;
		padding: 0 41px;

		@media (max-width:$md2 + px) {
			padding: 0 20px;
		}

		@media (max-width:$md2 + px) {
			flex: 1 1 100%;
			margin: 0 0 20px 0;

			&:last-child {
				margin: 0 0 0 0;
			}
		}

	}

	// .details-product__body

	&__body {}

	// .details-product__title

	&__title {
		color: #232323;
		font-family: var(--fontSecond);
		font-size: 18px;
		font-weight: 600;
		cursor: default;
		margin: 0 0 25px 0;

		@media (max-width:$md2 + px) {
			position: relative;
			display: inline-block;
			padding: 0 18px 0 0;
			&::after {
				content: '';
				transition: all 0.3s ease 0s;
				position: absolute;
				top: 50%;
				right: 0;
				width: 13px;
				height: 12px;
				background-image: svg-url('<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#bdbdbd" d="M285 273L91 467c-9 10-24 10-34 0l-22-22c-10-10-10-25-1-34l155-155L34 101c-9-9-9-24 1-34l22-22c10-10 25-10 34 0l194 194c10 9 10 25 0 34z"/></svg>');
				background-repeat: no-repeat;
				background-size: contain;
				transform: translate(0%, -50%);
			}
			&._active {
				&::after {
					transform: rotate(90deg) translate(-20%, 0%);
				}
			}
		}
		@media (min-width: $md2 + px) {
			pointer-events: none;
		}
	}

	// .details-product__text

	&__text {
		color: #232323;
		font-size: 16px;
		line-height: 30px;
		cursor: default;
		margin: 0 0 20px 0;

		&_info {
			margin: 0 0 30px 0;
		}
	}

	// .details-product__list

	&__list {
		margin: 0 0 40px 0;

		li {
			margin: 0 0 10px 0;
			position: relative;
			padding: 0 0 0 13px;
			cursor: default;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 4px;
				height: 4px;
				background-color: var(--color-main);
				@include br(50%);
				@include tr(0%, -50%);
			}

			&:last-child {
				margin: 0 0 0 0;
			}

			p {
				color: #232323;
				font-size: 16px;
			}
		}

		&_info {
			margin: 0 0 20px 0;
		}
	}

	// .details-product__tags

	&__tags {
		.tags-page {
			border: 0;
			padding: 0 0 0 0;
		}
	}
}


.help-link {

	// .help-link__list

	&__list {
		display: flex;

		li {
			margin: 0 29px 0 0;

			&:last-child {
				margin: 0 0 0 0;
			}
		}
	}

	// .help-link__link

	&__link {
		color: #232323;
		font-family: var(--fontSecond);
		font-size: 14px;
		font-weight: 600;
		text-decoration: underline;
	}
}

//====================================================================================================


.slider-product {
	position: relative;
	margin: 60px 0 70px 0;

	@media (max-width:$md2 + px) {
		margin: 50px 0 30px 0;
	}

	// .slider-product__container

	&__container {}

	// .slider-product__items

	&__items {}

	// .slider-product__item

	&__item {
		.item-deals__image {
			padding: 0 0 117.38% 0;

			@media (max-width:$md4 + px) {
				padding: 0 0 100% 0;
			}
		}
		.hover-deals {
			max-width: none;
		}
		.hover-deals__image {
			padding: 0 0 117.38% 0;
		}
	}

	// .slider-product__arrow

	&__arrow {
		position: absolute;
		top: 40%;
		// @include tr(0%, -50%);
		width: 15px;
		height: 15px;
		background-image: svg-url('<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#616161" d="M285 273L91 467c-9 10-24 10-34 0l-22-22c-10-10-10-25-1-34l155-155L34 101c-9-9-9-24 1-34l22-22c10-10 25-10 34 0l194 194c10 9 10 25 0 34z"/></svg>');
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;

		@media (max-width:$md3 + px) {
			display: none;
		}

		&.swiper-button-disabled {
			opacity: .3;
			pointer-events: none;
		}

		// .slider-product__arrow_prev

		&_prev {
			left: 0;
			transform: rotate(-180deg) translateY(10px);

			@media (max-width:1300px) {
				left: -30px;
			}
		}

		// .slider-product__arrow_next

		&_next {
			right: 0;

			@media (max-width:1300px) {
				right: -30px;
			}
		}
	}
}
