//<FORM ()>====================================================================================================
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {
		color: var(--color-main);
		font-size: 16px;
		font-weight: 700;
		cursor: default;
	}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;

	@media (min-width: 992px) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}

	@media (min-width:992px) {
		&_layers {
			position: relative;
			transition: all 0.5s ease 0s;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid #fff;
				transform: translate(0, 0);
				opacity: 0;
				transition: all 0.5s ease 0s;
			}

			&:hover {
				transition: all 0.5s ease 0s;
				background-color: #fff;
				border-color: #fff;
				box-shadow: 5px 5px #fff;

				&:before {
					transition: all 0.5s ease 0s;
					opacity: 1;
					transform: translate(-5px, -5px);

				}
			}
		}
	}
}

//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	z-index: 2;
	width: 190px;

	@media (max-width:$md2 + px) {
		width: 210px;
	}

	@media (max-width:$md4 + px) {
		width: 140px;
	}

	// .select__item
	&__item {
		position: relative;
	}

	// .select__title
	&__title {
		color: #000;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		// border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;


		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}

	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		height: 30px;
		padding: 0px 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;


		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		&:before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23757575' d='M31 192h258c17 0 26 22 14 34L174 355c-8 8-20 8-28 0L17 226c-12-12-3-34 14-34z'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		color: #6c6c6c;
		display: none;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fafafa;
		border-top: 0;
		border-top: 0;
		font-size: 12px;
		padding: 10px 0px 5px 0px;
		box-shadow: 0 2px 10px rgba(190, 190, 190, 0.4);

		@media (max-width: $md2+px) {
			font-size: 16px;
		}

		@media (max-width:$md4 + px) {
			font-size: 12px;
		}
	}

	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;

		@media (min-width: 992px) {
			&:hover {
				color: var(--color-main);
				background: #d9d9d9;
				font-weight: 700;
			}
		}
	}

	&._active {
		z-index: 5;

		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}

		.select__options {
			display: block;
		}
	}
}

//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
//=== // todo стилицазия placeholder// ================
// ::-webkit-input-placeholder {color: #c0392b;}

// ::-moz-placeholder {color: #c0392b;}

// /* Firefox 19+ */
// :-moz-placeholder {color: #c0392b;}

// /* Firefox 18- */
// :-ms-input-placeholder {color: #c0392b;}

//=== // todo стилицазия placeholder// ================
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 1px solid #bdbdbd;
	height: 46px;

	&._focus {}

	&._error {}
}

textarea.input {
	resize: none;
	padding: 0px 0px;

	&::-webkit-input-placeholder {
		color: #8d8d97;
	}

	&::-moz-placeholder {
		color: #8d8d97;
	}

	&:-moz-placeholder {
		color: #8d8d97;
	}

	&:-ms-input-placeholder {
		color: #8d8d97;
	}

	&:focus::-webkit-input-placeholder {
		color: transparent;
	}

	&:focus::-moz-placeholder {
		color: transparent;
	}

	&:focus:-moz-placeholder {
		color: transparent;
	}

	&:focus:-ms-input-placeholder {
		color: transparent;
	}
}


//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked+.checkbox__text:before {
			background: #fff;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L4.75 9 1 5.364' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		color: #757575;
		font-size: 12px;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;


		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}

	a {
		color: #fff;
		text-decoration: underline;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}

//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	// .options__item
	&__item {
		position: relative;
		cursor: pointer;

		&._error {}
	}

	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		left: 0;
		top: 0;
		visibility: hidden;

		&:checked+.options__text:before {}

		&:checked+.options__text:after {
			transform: scale(1);
		}
	}

	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);

		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}

		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}
}

//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	&.edit .star {
		cursor: pointer;
	}

	.star {
		width: 17px;
		height: 14px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 135.81 22.48'%3E%3Cpath d='M12.68.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L18.62,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3A1,1,0,0,1,4.12,21.3l1.09-6.35a1,1,0,0,0-.29-.9L.31,9.55A1,1,0,0,1,.87,7.82L7.24,6.9A1,1,0,0,0,8,6.34L10.86.57A1,1,0,0,1,12.68.57Z' style='fill:%23cbc1ab' /%3E%3Cpath d='M40.75.57,43.6,6.34a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L46.68,14a1,1,0,0,0-.29.9l1.09,6.35A1,1,0,0,1,46,22.37l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35A1,1,0,0,0,33,14l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L38.93.57A1,1,0,0,1,40.75.57Z' style='fill:%23cbc1ab' /%3E%3Cpath d='M68.81.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L74.75,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5A1,1,0,0,1,57,7.82l6.38-.93a1,1,0,0,0,.76-.55L67,.57A1,1,0,0,1,68.81.57Z' style='fill:%23cbc1ab' /%3E%3Cpath d='M96.88.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L102.82,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L95.07.57A1,1,0,0,1,96.88.57Z' style='fill:%23cbc1ab' /%3E%3Cpath d='M125,.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L130.89,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L123.13.57A1,1,0,0,1,125,.57Z' style='fill:%23cbc1ab' /%3E%3C/svg%3E");
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 135.81 22.48'%3E%3Cpath d='M12.68.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L18.62,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3A1,1,0,0,1,4.12,21.3l1.09-6.35a1,1,0,0,0-.29-.9L.31,9.55A1,1,0,0,1,.87,7.82L7.24,6.9A1,1,0,0,0,8,6.34L10.86.57A1,1,0,0,1,12.68.57Z' style='fill:%23e8ab1c' /%3E%3Cpath d='M40.75.57,43.6,6.34a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L46.68,14a1,1,0,0,0-.29.9l1.09,6.35A1,1,0,0,1,46,22.37l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35A1,1,0,0,0,33,14l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L38.93.57A1,1,0,0,1,40.75.57Z' style='fill:%23e8ab1c' /%3E%3Cpath d='M68.81.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L74.75,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5A1,1,0,0,1,57,7.82l6.38-.93a1,1,0,0,0,.76-.55L67,.57A1,1,0,0,1,68.81.57Z' style='fill:%23e8ab1c' /%3E%3Cpath d='M96.88.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L102.82,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L95.07.57A1,1,0,0,1,96.88.57Z' style='fill:%23e8ab1c' /%3E%3Cpath d='M125,.57l2.85,5.78a1,1,0,0,0,.76.55l6.38.93a1,1,0,0,1,.56,1.73L130.89,14a1,1,0,0,0-.29.9l1.09,6.35a1,1,0,0,1-1.47,1.07l-5.7-3a1,1,0,0,0-.94,0l-5.7,3a1,1,0,0,1-1.47-1.07l1.09-6.35a1,1,0,0,0-.29-.9l-4.61-4.5a1,1,0,0,1,.56-1.73l6.38-.93a1,1,0,0,0,.76-.55L123.13.57A1,1,0,0,1,125,.57Z' style='fill:%23e8ab1c' /%3E%3C/svg%3E");
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);

	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}

		@media (min-width: $md2+px) {
			&:hover {

				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}

//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================
