//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
._overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../img/overlay/overlay.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 6858px;
	opacity: .4;
	z-index: 10;
	// transform: translate(0,-10px);

	// display: none;
}

//====================================================================================================
// body{

// 	&::-webkit-scrollbar{
// 		width: 15px;
// 	}
// 	// дорожка для ползунка
// 	&::-webkit-scrollbar-track{
// 		background-color: rgb(56, 222, 252);
// 		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
// 	}
// 	// ползунок
// 	&::-webkit-scrollbar-thumb{
// 		background-color: rgb(253, 0, 0);
// 		border-radius: 5px;
// 		border: 3px solid rgb(42, 161, 182);
// 		&:hover{
// 			background-color: rgb(197, 185, 115);
// 		}
// 	}
// }
//====================================================================================================
@media (min-width:992px) {
	.fishka {

		&:hover {
			-webkit-animation-duration: calc(2s * 2);
			animation-duration: calc(2s * 2);
			-webkit-animation-duration: calc(2s * 2);
			animation-duration: calc(2s * 2);
			-webkit-animation-name: fishka;
			animation-name: fishka;
			-webkit-transform-origin: top left;
			transform-origin: top left;
		}
	}


	@-webkit-keyframes fishka {
		0% {
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}

		20%,
		60% {
			-webkit-transform: rotate3d(0, 0, 1, 10deg);
			transform: rotate3d(0, 0, 1, 10deg);
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}

		40%,
		80% {
			-webkit-transform: rotate3d(0, 0, 1, 20deg);
			transform: rotate3d(0, 0, 1, 20deg);
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			opacity: 1;
		}

		to {
			-webkit-transform: translate3d(0, 700px, 0);
			transform: translate3d(0, 700px, 0);
			opacity: 0;
		}
	}

	@keyframes fishka {
		0% {
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}

		20%,
		60% {
			-webkit-transform: rotate3d(0, 0, 1, 20deg);
			transform: rotate3d(0, 0, 1, 20deg);
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}

		40%,
		80% {
			-webkit-transform: rotate3d(0, 0, 1, 10deg);
			transform: rotate3d(0, 0, 1, 10deg);
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			opacity: 1;
		}

		to {
			-webkit-transform: translate3d(0, 700px, 0);
			transform: translate3d(0, 700px, 0);
			opacity: 0;
		}
	}
}

//====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;
		padding: 0px 0px 0px 45px;

		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}

//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;

	&.full {
		width: 100%;
	}
}

//====================================================================================================
._ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videobg {

	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================
.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;

	span {
		font-style: normal;

		&:first-child {
			display: block;
		}

		&:last-child {
			display: none;
		}
	}

	&.active {
		span {
			font-style: normal;

			&:first-child {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}
}

//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

//====================================================================================================
#map {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='32' height='32' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//faviconer.net/jscripts/smil.user.js'/%3E%3Cpath fill='%23000' d='M64 16a49 49 0 00-50 48 51 51 0 0050 52 53 53 0 0054-52c0-48-45-55-45-55s46 3 49 55c1 32-24 60-58 60-33 1-61-25-62-60C1 30 29 1 64 0c0 0 9 0 9 8s-9 8-9 8z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='1800ms' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-position: center;
	background-size: 50px;
	background-repeat: no-repeat;
}

//====================================================================================================
._swiper {
	overflow: hidden;

	//.swiper-wrapper
	>div {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}

	&.swiper-container-autoheight {
		>div {
			align-items: flex-start;
		}
	}
}

.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-container-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

//====================================================================================================
.slick-slider {
	position: relative;

	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	.slick-track {
		position: relative;
		width: 100%;
		display: flex;
	}

	.slick-slide {
		position: relative;
	}

	.slick-arrow {
		&.slick-prev {}

		&.slick-next {}
	}

	.slick-dots {
		li {
			button {}

			&.slick-active {
				button {}
			}
		}
	}
}

//=====================================================================================================================
.tab__item {
	display: none;

	&.active {
		display: block;
	}
}

//=====================================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
	display: none;

	&._active {
		display: block;
	}
}

//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}

//=====================================================================================================================
.gm-style {}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;

	button {
		display: none !important;
	}

	&:after {
		display: none !important;
	}
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;

	>.gm-style-iw-d {
		overflow: hidden !important;
		max-width: none !important;
	}

	&:after {
		display: none !important;
	}
}

.baloon-close {
	top: 18px !important;
}

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;

	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//====================================================================================================
.price-slider {
	height: 1px;
	background-color: #bdbdbd;
	position: relative;

	.noUi-base,
	.noUi-connects {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
	}

	.noUi-connects {
		overflow: hidden;
		z-index: 0;
	}

	.noUi-origin,
	.noUi-connect {
		will-change: transform;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		-webkit-transform-style: preserve-3d;
		transform-origin: 0 0;
		transform-style: flat;
	}

	.noUi-connect {
		height: 100%;
		width: 100%;
		right: 0%;
	}

	.noUi-origin {
		position: absolute;
		height: 10%;
		width: 10%;
		padding: 0 0 0 20px;
	}

	.noUi-handle {
		position: relative;
		top: -5px;
		width: 4px;
		height: 12px;
		background-color: var(--color-main);
		cursor: pointer;
		left: 5px;
	}

	.noUi-connect {
		background-color: #212121;
		width: 100%;
		height: 100%;
	}

	.noUi-tooltip {
		position: absolute;
		bottom: -22px;
		left: 50%;
		@include tr(-50%, 0);
		color: #000000;
		font-size: 14px;
		font-weight: 700;
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
