//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
._overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../img/overlay/overlay.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 6858px;
	opacity: .4;
	z-index: 10;
	// transform: translate(0,-10px);

	// display: none;
}

//====================================================================================================

//====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

//====================================================================================================
._ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

//====================================================================================================
#map {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='32' height='32' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//faviconer.net/jscripts/smil.user.js'/%3E%3Cpath fill='%23000' d='M64 16a49 49 0 00-50 48 51 51 0 0050 52 53 53 0 0054-52c0-48-45-55-45-55s46 3 49 55c1 32-24 60-58 60-33 1-61-25-62-60C1 30 29 1 64 0c0 0 9 0 9 8s-9 8-9 8z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='1800ms' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-position: center;
	background-size: 50px;
	background-repeat: no-repeat;
}

//====================================================================================================

._swiper {
	overflow: hidden;

	//.swiper-wrapper
	>div {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}

	&.swiper-container-autoheight {
		>div {
			align-items: flex-start;
		}
	}
}

.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-container-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}


//=====================================================================================================================
.tab__item {
	display: none;

	&.active {
		display: block;
	}
}

//=====================================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
	display: none;

	&._active {
		display: block;
	}
}

//====================================================================================================
.price-slider {
	height: 1px;
	background-color: #bdbdbd;
	position: relative;

	.noUi-base,
	.noUi-connects {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
	}

	.noUi-connects {
		overflow: hidden;
		z-index: 0;
	}

	.noUi-origin,
	.noUi-connect {
		will-change: transform;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		-webkit-transform-style: preserve-3d;
		transform-origin: 0 0;
		transform-style: flat;
	}

	.noUi-connect {
		height: 100%;
		width: 100%;
		right: 0%;
	}

	.noUi-origin {
		position: absolute;
		height: 10%;
		width: 10%;
		padding: 0 0 0 20px;
	}

	.noUi-handle {
		position: relative;
		top: -5px;
		width: 4px;
		height: 12px;
		background-color: var(--color-main);
		cursor: pointer;
		left: 5px;
	}

	.noUi-connect {
		background-color: #212121;
		width: 100%;
		height: 100%;
	}

	.noUi-tooltip {
		position: absolute;
		bottom: -22px;
		left: 50%;
		@include tr(-50%, 0);
		color: #000000;
		font-size: 14px;
		font-weight: 700;
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
